<!DOCTYPE html>
<html>
<head>
    <title>Programiranje_1 - LV</title>
    <link href="css/application.min.css" rel="stylesheet">
    <link rel="shortcut icon" href="img/favicon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta charset="utf-8">
</head>
<body class="background-dark">
<div class="content container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <section class="widget">
                <header>
                    <h4><i class="icon-file-alt"></i> programiranje_1 <small> &lt laboratorijske vježbe &gt </small></h4>
                </header><br>
                <div class="body">
                    <form class="form-horizontal" method="post" novalidate="novalidate" data-validate="parsley">
                        <fieldset>
                            <div class="control-group">
                                <label for="title" class="control-label"><span class="required">* </span>Odaberite :</label>
                                <div class="controls form-group">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Labose&nbsp;&nbsp;<span class="caret"></span>
                                        </button>
                                            <ul class="dropdown-menu">
                                                <li><a href="#">Laboratorijske vjezbe_1</a></li>
                                                <li><a href="#">Laboratorijske vjezbe_2</a></li>
                                                <li><a href="#">Laboratorijske vjezbe_3</a></li>
                                                <li><a href="#">Laboratorijske vjezbe_4</a></li>
                                            </ul>
                                    </div>
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Zadatak&nbsp;&nbsp;<span class="caret"></span>
                                        </button>
                                            <ul class="dropdown-menu text-center">
                                                <li class="search-result"><a href="#" clickable="no">Zadatak_#1</a></li>
                                                <li><a href="#">a)</a></li>
                                                <li><a href="#">b)</a></li>
                                                <li class="divider"></li>
                                                <li class="search-result"><a href="#">Zadatak_#2</a></li>
                                                <li><a href="#">a)</a></li>
                                                <li><a href="#">b)</a></li>
                                                <li><a href="#">c)</a></li>
                                            </ul>
                                    </div>
                                </div>    
                            </div>
                            <div class="control-group">
                                <label for="text" class="control-label">Programski kod :</label>
                                <div class="controls form-group">
                                    <textarea id="text" rows="10" name="text" class="form-control"></textarea>
                                </div>
                            </div>
                            <div class="control-group">
                                <label for="description" class="control-label">Komentar :</label>
                                <div class="controls form-group">
                                    <textarea id="description" rows="3" name="text" class="form-control"></textarea>
                                    <span class="help-block">// Optional summary of your article that can be used in previews</span>
                                </div>
                            </div>
                        </fieldset>
                        <div class="form-actions">
                            <button type="submit" class="btn btn-success"><b>Potvrdi</b></button>
                            <button type="button" class="btn btn-danger"><b>Odustani</b></button>
                        </div>
                    </form>
                </div>
            </section>
        </div>
    </div>
</div>
</div>

<!-- jquery and friends -->
<script src="lib/jquery/jquery.1.9.0.min.js"> </script>
<script src="lib/jquery/jquery-migrate-1.1.0.min.js"> </script>

<!-- jquery plugins -->
<script src="lib/jquery-maskedinput/jquery.maskedinput.js"></script>
<script src="lib/parsley/parsley.js"> </script>
<script src="lib/icheck.js/jquery.icheck.js"></script>
<script src="lib/select2.js"></script>


<!--backbone and friends -->
<script src="lib/backbone/underscore-min.js"></script>

<!-- bootstrap default plugins -->
<script src="lib/bootstrap/transition.js"></script>
<script src="lib/bootstrap/collapse.js"></script>
<script src="lib/bootstrap/alert.js"></script>
<script src="lib/bootstrap/tooltip.js"></script>
<script src="lib/bootstrap/popover.js"></script>
<script src="lib/bootstrap/button.js"></script>
<script src="lib/bootstrap/dropdown.js"></script>
<script src="lib/bootstrap/modal.js"></script>

<!-- bootstrap custom plugins -->
<script src="lib/bootstrap-datepicker.js"></script>
<script src="lib/bootstrap-select/bootstrap-select.js"></script>
<script src="lib/wysihtml5/wysihtml5-0.3.0_rc2.js"></script>
<script src="lib/bootstrap-wysihtml5/bootstrap-wysihtml5.js"></script>

<!-- basic application js-->
<script src="js/app.js"></script>
<script src="js/settings.js"></script>

<!-- page specific -->
<script src="js/forms.js"></script>

<script type="text/template" id="settings-template">
    <div class="setting clearfix">
        <div>Background</div>
        <div id="background-toggle" class="pull-left btn-group" data-toggle="buttons-radio">
            <% dark = background == 'dark'; light = background == 'light';%>
            <button type="button" data-value="dark" class="btn btn-sm btn-transparent <%= dark? 'active' : '' %>">Dark</button>
            <button type="button" data-value="light" class="btn btn-sm btn-transparent <%= light? 'active' : '' %>">Light</button>
        </div>
    </div>
    <div class="setting clearfix">
        <div>Sidebar on the</div>
        <div id="sidebar-toggle" class="pull-left btn-group" data-toggle="buttons-radio">
            <% onRight = sidebar == 'right'%>
            <button type="button" data-value="left" class="btn btn-sm btn-transparent <%= onRight? '' : 'active' %>">Left</button>
            <button type="button" data-value="right" class="btn btn-sm btn-transparent <%= onRight? 'active' : '' %>">Right</button>
        </div>
    </div>
    <div class="setting clearfix">
        <div>Sidebar</div>
        <div id="display-sidebar-toggle" class="pull-left btn-group" data-toggle="buttons-radio">
            <% display = displaySidebar%>
            <button type="button" data-value="true" class="btn btn-sm btn-transparent <%= display? 'active' : '' %>">Show</button>
            <button type="button" data-value="false" class="btn btn-sm btn-transparent <%= display? '' : 'active' %>">Hide</button>
        </div>
    </div>
</script>

<script type="text/template" id="sidebar-settings-template">
        <% auto = sidebarState == 'auto'%>
        <% if (auto) {%>
            <button type="button"
                    data-value="icons"
                    class="btn-icons btn btn-transparent btn-sm">Icons</button>
    <button type="button"
            data-value="auto"
            class="btn-auto btn btn-transparent btn-sm">Auto</button>
        <%} else {%>
            <button type="button"
                    data-value="auto"
                    class="btn btn-transparent btn-sm">Auto</button>
        <% } %>
</script>



</body>
</html>